
<!-- Creates a box in the center of the screen with containing a form
    that will take in an email and a password
    once submitted a post request will be sent to confirm/deny if the login
    credentials were correct -->
    
<div id="parent">
    <form id="login" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <h1>Employee Login</h1>
        <div *ngIf="invalid === true">Invalid Email/Password</div>
        <label for="email">Email:</label>
        <input id="email" type="text" name="email" required ngModel>
        <br>
        <br>
        <label for="password">Password: </label>
        <input id="password" type="password" name="password" required ngModel>
        <br>
        <br>
        <button type="submit" [disabled]="!f.valid">Login</button>
        <a href="createNewAccount" style="margin-left: 25px;">Create New Account</a>
    </form>
</div>