
<div id=master>
    <h2>Employee Requests</h2>
    <div *ngFor="let logs of requests">
        <div *ngIf="logs.employeeInfo.requests.length !== 0">    
            <h3><b>Employee Id:</b> {{logs.employeeInfo.employeeId}} <b>Name:</b> {{logs.employeeInfo.personalInfo.firstName}} {{logs.employeeInfo.personalInfo.lastName}}</h3>
            <table>   
                <thead>
                    <tr>
                        <th scope="col">Request Id</th>
                        <th scope="col">Type</th>
                        <th scope="col">description</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Time Submitted</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>   
                <tbody>  
                    <tr *ngFor="let req of logs.employeeInfo.requests">
                        <td id=rows>{{req.requestId}}</td> 
                        <td id=rows>{{req.type}}</td> 
                        <td id=rows>{{req.description}}</td>
                        <td id=rows>$ {{req.amount.toFixed(2)}}</td>
                        <td id=rows>{{formatDate(req.timeStamp)}}</td>
                        <td id=rows>{{req.status}}</td>
                        <td *ngIf="req.status === 'pending'"><button (click)="changeStatus(req.requestId, 'approved')">Approve</button></td> 
                        <td *ngIf="req.status === 'pending'"><button (click)="changeStatus(req.requestId, 'denied')">Deny</button></td>
                    </tr>
                </tbody>
            </table>
            <br><br>
        </div>
    </div>
</div>